<p id="notice"><%= notice %></p>

<p>
  <strong>Avalaibility:</strong>
  <%= @room.avalaibility %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @room.rate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
